body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    
  }

  header {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
  }
  
  nav li {
    margin-right: 50px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
  }
  
  main {
    max-width: 1000px;
    margin: 0 auto;
    padding: 200px;
    background-color: plum;
    color: dimgray;
    padding-top: 20px;
  }
  
  section {
    margin-bottom: 50px;
    color: black;
    padding-top:50px;
  }
  
  h1 {
    margin: 0;
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgba(255, 0, 21, 0.747);
  }
  
  h2 {
    margin: 0 0 10px 0;
    font-size: 100px;
    color: white;
    align-content: center;
  
  }
  
  ul {
    margin: 0;
    padding: 0;
  }
  
  li {
    margin-bottom: 5px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
  }
  
  a:hover {
    text-decoration: underline;
  }
  .p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    
  }
  #me{
    padding-left: 620px;
  }
  
  

  


  
  